#basicMap {
  /* height: 336px; */
  height: 440px;
  width: 828px;
  margin: 30px 206px 50px 82px;
}

#basicMap:hover {
  cursor: pointer;
  overflow: hidden;
  /* position: absolute; */
}

.map-div {
  margin: 50px;
}

.map-hours {
  margin-left: 206px;
  margin-right: 160px;
}
