.cover-page {
  /* width: 1920px; */
  width: 100%;
  height: 622px;
  /* height: 100%; */
  margin: 0;
  padding: 0;
}

.cover-page-img {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(69, 49, 89, 0) 6.98%,
    rgba(69, 49, 89, 0.17) 96.04%
  );
  background-image: url("../img/banner.png");
}

.recommend {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    /* padding: 10px; */
    margin-left: 7%;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 557px;
  }

.scrolling {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-y: hidden;
  overflow-x: auto;
  height: 557px;
}



.searchbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 22px 20px 36px;
  gap: 645px;

  position: absolute;
  width: 735px;
  height: 55px;
  left: 587px;
  top: 456px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 34.5px;
}

.searchboxbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px 22px 20px 36px; */
  /* gap: 645px; */
  padding-left: 2rem;
  padding-right: 0.9rem;
  /* position: absolute; */
  width: 735px;
  height: 55px;
  left: 587px;
  top: 456px;

  background-color: #ECE5F1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 34.5px;
}

.searchinput {
  /* height: 40px; */
  height: 80%;
  width: 80%;
  border: transparent;
  outline: none;
  background-color: #ECE5F1;
  /* border-radius: 34.5px; */
  
}

.shadow-box {
  width: 80%;
  height: 100%;
  /* align-self: center; */
  background: rgb(187, 187, 187);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 34.5px;
}


.margin-padding {
  margin: 20px;
  padding: 20px;
}


.m57_147 {
  margin-left: 147px;
  margin-right: 147px;
  margin-top: 57px;
}




.img-button {
  background: transparent;
  border: 0;

}


.logo-vertical {
  width: 221.59px;
  height: 285px;
  margin-top: 29px;
  margin-bottom: 62px;
}
/*  */

.sign-space {
  /* margin-top: 40px; */
  margin-bottom: 29px;
  margin-right: 5%;

}


#filters {
  width : 420px;
  margin: 35px 0 0 40px;

}


.filters {
  margin: 0;
  width : 421px;
}


.page-selector {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* align-items: center; */
  /* padding: 20px 22px 20px 36px; */
  /* gap: 645px; */

  /* position: absolute; */
  width: 1132px;
  /* height: 55px; */
  /* left: 587px; */
  /* top: 456px; */

  /* background: #ffffff; */
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  /* border-radius: 34.5px; */
}

.page-selector a:hover ,.page-selector .selected{
  color: #ffffff;
  background-color: #ac8fbf;
}

.page-selector>a:active{
  color: #ffffff;
  background-color: #ac8fbf;
}

*::selection{
  color: #ffffff;
  background-color: #ac8fbf;
}

.page-selector nav *:focus{
  color: #ffffff;
  /* color: #AC8FBF; */
  /* background-color: #ffffff; */
  background-color: #ac8fbf;
  box-shadow: 0 0 0 0.2rem #ece5f1;
  border: #ece5f1;
}

.page-selector a {
  color: #AC8FBF;
  border: 1px solid #DEE2E6;
  /* background-color: #ac8fbf; */
}


.result-pages .hidden {
  display: none;
}

.result-pages {
  padding: 0;
  margin: 0;
}


.horizontal-profile-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 46px 160px;
}


.div-paragraph-margins-55-160 {
  margin: 55px 160px;
}


.paragraph-margins-58-79 {
  margin:  79px 58px;
  padding: 58px 79px;
}

#basicMap {
  height: 400px;
  width: 400px;
  margin: 10px;
}