<script src="./javascript/searchbar.js" defer></script>

<header class="sticky-header">
    <div class="d-flex flex-row justify-content-between align-items-center pageborder">

        <a href="/"><img src="./img/logo-horizontal.svg" alt="" width="175" height="34"></a>

        {{>searchbar}}

        <div class="d-flex flex-row justify-content-end align-items-center" id="sign-space">
            {{#unless signedIn}}
            <button class="button-light sign-in" id="sign-in-btn">Sign In</button>
            <button class="button-purple sign-up" id="sign-up-btn">Sign Up</button>

            {{>sign_in_up}}
            {{else}}

            {{>profile_picture}}
            {{/unless}}
        </div>


    </div>
</header>