<script src="javascript/searchbar.js" defer></script>

<header>
    <div class="d-flex flex-row justify-content-between horizontal-profile-search">

        <a href="/"><img src="img/logo-horizontal.svg" alt="" width="175" height="34"></a>

        <div class="searchboxbox ">
            <input class="searchinput" type="text" placeholder="Search.." size=""
                onkeydown="searchbarClickPress(event)">
            <button class="searchbutton" id="search-function"> <i class="bi bi-search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="30" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />

                    </svg>
                </i> </button>

        </div>
        <div class="d-flex flex-row justify-content-end sign-space" id="sign-space">
            {{#unless signedIn}}
            <button class="button-light sign-in" id="sign-in-btn">Sign In</button>
            <button class="button-purple sign-up" id="sign-up-btn">Sign Up</button>

            {{>sign_in_up}}
            {{else}}

            {{>profile_picture}}
            {{/unless}}
        </div>


    </div>
</header>