{{!-- for some reason this is not working --}}

<script src="resources/OpenLayers-2.13.1/OpenLayers.js" async></script>

<script src="javascript/map.js" defer></script>

<div class="d-flex flex-column justify-content-start">
    <div id="basicMap" class="map-div"></div>

</div>
