<script src="javascript/books.js" defer></script>

<div class="recommend" id="recommended-books">
    <h2 class="h2"><strong> {{info}} </strong></h2>

    <div class="scrolling" id="scrolling-recommended-books">
        <div class="card-img-top">
            <img src="img/card_book_1.png" alt="book cover">
            <h4>{{title}}</h4>
            <p>This is a book about polaroids</p>
            <p>Available Copies: 5</p>
        </div>
    </div>
</div>