<script src="javascript/library.js" defer></script>

<div class="recommend" id="recommended-libraries">
    <h1 class="h1">{{info}}</h1>
    <div class="scrolling" id="scrolling-recommended-libraries">
    </div>
</div>