<script src="javascript/books.js" defer></script>

<div class="recommend" id="recommended-books">
    <h2 class="h2"><strong> {{info}} </strong></h2>

    <div class="scrolling" id="scrolling-recommended-books">
        {{> card photo="img/card_book_1.png" title="Polaroid" description="This is a description" copies="5"}}
        {{> card photo="img/card_book_1.png" title="Polaroid" description="This is a description" copies="5"}}
        {{> card photo="img/card_book_1.png" title="Polaroid" description="This is a description"}}
        
    </div>
</div>