{{>header}}

<main>

    <div class="d-flex flex-row justify-content-start " id="book">

        <div class="" id="book-img">
            <img src="img/card_book_1.png" alt="book cover" class="book-img">
        </div>

        <div class="d-flex flex-column justify-content-center" id="book-title-summary">
            <h2 id="title">Book Title</h2>
            <p id="summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae autem nemo doloribus
                asperiores illum quasi vel cum, in, placeat quos inventore repudiandae accusantium distinctio
                praesentium, necessitatibus sit eum laborum unde?</p>
        </div>

        <div class="d-flex flex-column justify-content-start" id="book-info">

            <div id="author">
                <p class="p-title" id="author-h">Author</p>
                <p class="p-info" id="author-p">example</p>
            </div>
            <div id="publisher">
                <p class="p-title" id="publisher-h">Publisher</p>
                <p class="p-info" id="publisher-p">example</p>
            </div>
            <div id="edition">
                <p class="p-title" id="edition-h">edition</p>
                <p class="p-info" id="edition-p">example</p>
            </div>
            <div id="genre">
                <p class="p-title" id="genre-h">genre</p>
                <p class="p-info" id="genre-p">example</p>
            </div>
            <div id="release">
                <p class="p-title" id="release-h">release</p>
                <p class="p-info" id="release-p">example</p>
            </div>
            <div id="language">
                <p class="p-title" id="language-h">language</p>
                <p class="p-info" id="language-p">example</p>
            </div>
            <div id="isbn">
                <p class="p-title" id="isbn-h">isbn</p>
                <p class="p-info" id="isbn-p">example</p>
            </div>


        </div>

    </div>





    <div class="d-flex flex-row justify-content-center" id="book-location">

        {{>map}}


        <div class="d-flex flex-row justify-content-center">
            <!-- libraries and locations -->
            <div class="d-flex flex-column justify-content-start">
                <h3>Library</h3>
            </div>

            <div class="d-flex flex-column justify-content-start">
                <h3>Address</h3>
            </div>

            <div class="d-flex flex-column justify-content-start">
                <h3>Copies</h3>
            </div>

            <div class="d-flex flex-column justify-content-start">
                <!-- reservation buttons -->
            </div>



        </div>
    </div>

</main>