<script src="javascript/sign_in.js" defer></script>
<script src="javascript/library.js"></script>
<script src="javascript/books.js" ></script>


<script type="text/javascript">window.onload = function () { recommendedBooks();recommendedLibraries();};</script>

<header class="d-flex flex-column justify-content-center cover-page-img cover-page">

    <div class="d-flex flex-row justify-content-end sign-space" id="sign-space">
        <button class="button-light sign-in" id="sign-in-btn">Sign In</button>
        <button class="button-white sign-up" id="sign-up-btn">Sign Up</button>

        {{>sign_in}}

        {{>sign_up}}

    </div>

    <div class="d-flex flex-row justify-content-center">
        <img src="img/logo_vertical.svg" alt="Logo" class="logo-vertical">
    </div>

    {{>searchbar}}


</header>

<main>

    {{>recommended_books info="Recommended Books"}}

    {{>recommended_libraries info="Recommended Libraries"}}




</main>



