<script src="javascript/sign_in.js" defer></script>
<script src="javascript/books.js"></script>
<script src="javascript/library.js"></script>

{{!-- this is script material --}}

<script type="text/javascript">window.onload = function () { recommendedBooks(); recommendedLibraries(); };</script>


<header class="d-flex flex-column justify-content-center cover-page-img cover-page">

    <div class="d-flex flex-row justify-content-end sign-space" id="sign-space">
        <button class="button-light sign-in" id="sign-in-btn">Sign In</button>
        <button class="button-white sign-up" id="sign-up-btn">Sign Up</button>



        {{>sign_in}}

        {{>sign_up}}

    </div>

    <div class="d-flex flex-row justify-content-center">
        <img src="img/logo_vertical.svg" alt="Logo" class="logo-vertical">
    </div>

    {{>searchbar}}


</header>

<main>

    <div class="recommend" id="recommended-books">
        <p class="h2"> Recommended Books</p>

        <div class="scrolling" id="scrolling-recommended-books">

        </div>
    </div>

    <div class="recommend" id="recommended-libraries">
        <h1 class="h1">Recommended Libraries</h1>
        <div class="scrolling" id="scrolling-recommended-libraries">
            <!-- Library -->

        </div>


    </div>




</main>



{{>footer}}