<header class="d-flex flex-column justify-content-center cover-page-img cover-page">

    <div class="d-flex flex-row justify-content-end sign-space" id="sign-space">
        {{!--
        <script type="text/javascript">alert(module.exports.signedIn) </script> --}}
        {{#unless signedIn}}
        <button class="button-light sign-in" id="sign-in-btn">Sign In</button>
        <button class="button-white sign-up" id="sign-up-btn">Sign Up</button>

        {{>sign_in_up}}
        {{else}}

        {{>profile_picture}}
        {{/unless}}
    </div>

    <div class="d-flex flex-row justify-content-center">
        <img src="img/logo_vertical.svg" alt="Logo" class="logo-vertical">

    </div>
    {{>searchbar}}


</header>

<main>

    <div class="recommend" id="recommended-books">
        <h2 class="h2"><strong> Recommended Books </strong></h2>

        <div class="scrolling" id="scrolling-recommended-books">
            {{#each book}}

            {{!-- change into isbn --}}
            {{> card photo=photo title=title description=description copies=copies location=(concat 'book_info?'
            'title=' title }}

            {{/each}}


        </div>
    </div>

    <div class="recommend" id="recommended-libraries">
        <h2 class="h2"><strong>Recommended Libraries</strong></h2>
        <div class="scrolling" id="scrolling-recommended-libraries">
            {{#each library}}
            {{!-- The title ? should be with promises and async await and sending requests with javascript --}}
            {{> card photo=photo title=title description=description copies=copies location=(concat 'library_info?'
            'title=' '"' title '"') }}

            {{!-- {{> card photo=photo title=title description=description location="'/library_info'"}} --}}

            {{/each}}
        </div>
    </div>


</main>