<script src="javascript/filters.js"></script>
<script src="javascript/show_pages.js"></script>
<script src="javascript/search.js"></script>


<script type="text/javascript">window.onload = function () {
        let filters = {};
        createPages(2); pageSelector(); addFilterListeners(filters); addShowMore();
        
    };</script>



{{>header}}

<main>

    <div class="row justify-content-start pageborder">

        <div class="col col-auto d-flex flex-column justify-content-start" id="filters">

            {{>filterCategories category='Genre' categoryFilter='genre' list=genre list_all=all_genre}}

            {{>filterCategories category='Availability' categoryFilter='availability' list=availability}}


            {{!-- <div class="filters d-flex flex-column justify-content-start " id="release-filter">

                <h3>Release Date</h3>
                <label for="customRange3" class="form-label">Example range</label>
                <!-- <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3" style="width: 420px;"> -->
                <!-- <input type="text" id="amount" class="filter-range"> -->
                <!-- <div id="slider-range"></div>
                <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 10%; width: 10%;"></div><span
                tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 15%;"></span><span
                tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 60%;"></span>
                -->

            </div> --}}

            {{>filterCategories category='Edition' categoryFilter='edition' list=edition list_all=all_edition}}

            {{>filterCategories category='Publisher' categoryFilter='publisher' list=publisher list_all=all_publisher}}


            {{>filterCategories category="Language" categoryFilter="language" list=language}}

            {{>filterCategories category='Library' categoryFilter='library' list=library}}




            {{!-- <div class="filters d-flex flex-column justify-content-start " id="library-filter">
                <input type="text" name="" id="library-filter-input" placeholder="Region or Library"
                    style="width: 70%;">
            </div> --}}

        </div>


        <div class="col d-flex flex-column justify-content-start" id="search-content">

            <div class="selected-filter-list d-flex flex-row justify-content-start " id="filter-selection">
            </div>



            <div class="result-pages d-flex flex-row justify-content-start flex-wrap" id="results">
                {{#each book}}

                {{!-- {{#if ( equals publisher 'Apress' )}} --}}
                {{> card photo=photo title=title description='description' copies='2' location=( encode (concat
                'book_info/' isbn ))}}
                
                {{!-- {{/if}} --}}

                {{/each}}
            </div>


            <div class="page-selector" id="page-selector">
            </div>



        </div>


    </div>

</main>