<script src="javascript/filters.js"></script>
<script src="javascript/show_pages.js"></script>
<script src="javascript/search.js"></script>


<script type="text/javascript">window.onload = function () {
        let filters = {};
        createPages(2); pageSelector(); addFilterListeners(filters); addShowMore();
        
    };</script>



{{>header}}

<main>
    <div class="justify-content-start pageborder">
    
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler border-0 d-flex flex-row justify-content-between align-items-stretch" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <h3 class="mx-2">Filters</h3>
                    <span class="mx-2 navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse align-items-start" id="navbarNav">
                        {{>filterCategories category='Genre' categoryFilter='genre' list=genre list_all=all_genre}}

                        {{>filterCategories category='Availability' categoryFilter='availability' list=availability}}
                        
                        {{>filterCategories category='Edition' categoryFilter='edition' list=edition list_all=all_edition}}

                        {{>filterCategories category='Publisher' categoryFilter='publisher' list=publisher list_all=all_publisher}}


                        {{>filterCategories category="Language" categoryFilter="language" list=language}}

                        {{>filterCategories category='Library' categoryFilter='library' list=library}}
                    

                </div>
            </div>
        </nav>
               

        <div class="d-flex flex-column justify-content-start" id="search-content">

            <div class="selected-filter-list d-flex flex-row justify-content-start " id="filter-selection">
            </div>



            <div class="result-pages d-flex flex-row justify-content-start flex-wrap" id="results">
                {{#each book}}

                {{!-- {{#if ( equals publisher 'Apress' )}} --}}
                {{> card photo=photo title=title description='description' copies='2' location=( encode (concat
                'book_info/' isbn ))}}
                
                {{!-- {{/if}} --}}

                {{/each}}
            </div>


            <div class="page-selector" id="page-selector">
            </div>



        </div>


    </div>

</main>