<script src="javascript/user_profile.js" defer></script>

{{>header}}

<main>

  {{!-- make it better at a later date --}}

  <div class="pageborder">

    <div class="card-info">
      <!-- card -->
      <div class="borrowingCard">
        <img src="img/borrowing_card.svg" class="borrowingCardBG">
        <div>
          <h5 class="borrowingCardInfo1"><strong>Konstantinos Kotorenis</strong></h5>
          <p class="borrowingCardInfo2">38459834759384</p>
        </div>

      </div>
      <!-- Personal information -->
      <div class="profile_info">
        <h2><strong>Konstantinos Kotorenis</strong></h2>
        <div class="profileInfoDetails">
          <h6><strong>ID</strong></h6>
          <p>38459834759384</p>
          <h6><strong>Address</strong></h6>
          <p>Manolaki 45 Patra 26222</p>
          <h6><strong>Date of birth</strong></h6>
          <p>30/2/1960</p>
        </div>
      </div>
    </div>

    <!-- Borrowing State -->
    <div class="borrowing_state">
      <h2><strong>Borrowings</strong></h2>

      {{>timeline 
        img="img/card_book_1.png"
        title="The Polaroid Book"
        ISBN="HGGJHGjh8787348793"
        edition="1st"
        resDate="03/05/2023"
      }}
      {{>timeline 
        img="img/card_book_1.png"
        title="The Polaroid Book"
        ISBN="HGGJHGjh8787348793"
        edition="1st"
        resDate="03/05/2023"
        borDate="04/05/2023"
        retStatus="Return"
        retDate="14/05/2023"
      }}
      {{>timeline 
        img="img/card_book_1.png"
        title="The Polaroid Book"
        ISBN="HGGJHGjh8787348793"
        edition="1st"
        resDate="03/05/2023"
        borDate="04/05/2023"
        returned="true"
        retStatus="Returned"
        retDate="14/05/2023"
      }}
      {{>timeline 
        img="img/card_book_1.png"
        title="The Polaroid Book"
        ISBN="HGGJHGjh8787348793"
        edition="1st"
        resDate="03/05/2023"
        borDate="04/05/2023"
        returned="true"
        retStatus="Overdue"
        retDate="3 days over"
        overdue="true"
      }}
    </div>








</main>