.card-img-top {
  width: 200px;
  /* padding: 10px; */
  /* Default/White */

  background: #ffffff;
  /* Gray/300 */

  border: 1px solid #dee2e6;
  border-radius: 12px;
  align-items: stretch;
}

.card-div{
  width: 200px;
}

.card-img-class {
  width:100%;
}

.results {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.results, .card-space {
  margin: 5px;
}

.card-img-top:hover {
  cursor: pointer;
}

.book-img {
  width: 417px;
  height: 417px;
}

.overflow-ellipsis{
  width:200px;
  text-overflow: ellipsis;
  white-space: nowrap;
}