.card-img-top {
  
  width: 364px;
  margin: 10px;
  /* padding: 10px; */
  /* Default/White */

  background: #ffffff;
  /* Gray/300 */

  border: 1px solid #dee2e6;
  border-radius: 12px;
}

.card-img-class {
  width:100%;
}

.results {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.results, .card-img-top {
  margin: 10px;
}

.card-img-top:hover {
  cursor: pointer;
}

.book-img {
  width: 417px;
  height: 417px;
}
