.recommend {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    /* padding: 10px; */
    margin-left: 7%;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 557px;
  }

.scrolling {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-y: hidden;
  overflow-x: auto;
  height: 557px;
}
