.header{
    display: grid;
    grid-template-areas: "left center right";
    align-items: center;
    grid-auto-rows: 60px;
    justify-content: space-between;
}

.headerLogo{
    grid-area: left;
    justify-self: center;
}

.headerSearch{
    grid-area: center;
    width: fit-content;
    justify-self: center;
}

.headerSignIn{
    grid-area: right;
    justify-self: center;
}

@media (max-width: 700px) and (orientation: portrait) {
    .header{
        grid-template-areas: "left" "center" "right";
    }
    .headerLogo{
        grid-area: left;
    }
    
    .headerSearch{
        grid-area: right;
    }
    
    .headerSignIn{
        grid-area: center;
    }
}