.searchboxbox {

    align-items: center;
    padding-left: 2rem;
    padding-right: 0.9rem;
    width: 50%;
    height: 55px;
  
    background-color: #ECE5F1;
    border-radius: 34.5px;
  }

  * {
    outline: red solid 1px;
  }
  
  .searchinput {
    /* height: 40px; */
    height: 80%;
    width: 100vw;
    border: transparent;
    outline: none;
    background-color: #ECE5F1;
    /* border-radius: 34.5px; */
    
    
  }
  
  .shadow-box {
    width: 80%;
    height: 100%;
    /* align-self: center; */
    background: rgb(187, 187, 187);
    border-radius: 34.5px;
  }
  