.margin-padding {
  margin: 20px;
  padding: 20px;
}

.m57_147 {
  margin-left: 147px;
  margin-right: 147px;
  margin-top: 57px;
}

.horizontal-profile-search {
  margin: 46px 160px;
}

.pageborder{
  padding: 1% 8% 1.5% 8%;
}

.background{
  background-image: url("img/logo_bg.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 10%;
  background-size: 80vh
}

.profile_picture {
  cursor: pointer;
}