.cover-page {
  /* width: 1920px; */
  width: 100%;
  height: 622px;
  /* height: 100%; */
  margin: 0;
  padding: 0;
}

.cover-page-img {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(69, 49, 89, 0) 6.98%,
    rgba(69, 49, 89, 0.17) 96.04%
  );
  background-image: url("../../img/banner.png");
}
