.card-info{
display: flex;
justify-content: space-evenly;
margin-bottom: 50px;
flex: 1 1 auto;
flex-wrap: wrap;

}

.borrowingCardBG{
    filter: drop-shadow(2px 5px 10px #0000000f);
}

.profileInfoDetails{
    margin-top: 3rem;
    align-content: bottom;
}

.profile_info{
    min-width: 38%;
}

.borrowingCard{
    position: relative;
}

.borrowingCardInfo1{
    position: absolute;
    top: 195px;
    left: 35px;
}

.borrowingCardInfo2{
    position: absolute;
    top: 215px;
    left: 35px;
}

/* borrowing state */

.borrowing_state{
    display: flex;
    flex-direction: column;
}

/* borrowing each book */

.borrowingInfo{
    display: flex;
    align-items: top;
    flex-wrap: wrap;
    border-collapse: collapse;
    justify-content: space-between;
}
/* borrowing details */

.borrowedBookDetails{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 20%;
    margin-left: 3%;
}
.borrowedBookimg{
    height: 60px;
    margin-right: 20px;
}

/* borrowing timeline */

.timeline{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 50px;
}
  
.timestamp{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
}
  
.status1{
    padding: 15px 5vw 0px 0px;
    display: flex;
    border-top: 2px solid #D6DCE0;
    position: relative;
    text-align: left;
}
.status1::before{
    content: '';
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #ddd;
    position: absolute;
    top: -8px;
}

.status2{
    padding: 15px 5vw 0px 5vw;
    display: flex;
    justify-content: center;
    border-top: 2px solid #D6DCE0;
    position: relative;
    text-align: center;
}
.status2::before{
    content: '';
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #ddd;
    position: absolute;
    top: -8px;
    left: 46.5%;
}

.status3{
    padding: 15px 0px 0px 5vw;
    display: flex;
    justify-content: right;
    border-top: 2px solid #D6DCE0;
    position: relative;
    text-align: right;
}
.status3::before{
    content: '';
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #ddd;
    position: absolute;
    top: -8px;
}
    
  
.li.complete .status1{
    border-top: 2px solid #AC8FBF;}
.li.complete .status1::before{
    background-color: #AC8FBF;
    border: none;
}
   
.li.complete .status2{
    border-top: 2px solid #AC8FBF;}
.li.complete .status2::before{
    background-color: #AC8FBF;
    border: none;
}

.li.complete .status3{
    border-top: 2px solid #AC8FBF;}
.li.complete .status3::before{
    background-color: #AC8FBF;
    border: none;
}

  @media (min-device-width: 320px) and (max-device-width: 700px){
    .timeline{
        list-style-type: none;
        display: block;
      }
      .li{
        transition: all 200ms ease-in;
        display: flex;
        width: inherit;
      }
      .timestamp{
        width: 100px;
      }
       
  }
  