
.who-we-are-css {
    margin-left: 106px;
    margin-right: 134px;
    width: 742px;
}

.who-we-are-img {
    margin-right: 147px;
    margin-left: 134px;
}


.who-we-are-profiles {
    margin-right: 179px;
    margin-left: 100px;
    width: 742px;
}


.who-we-are-profile-pics {
    margin-right:100 px;
    margin-left: 108px;
}

