#book {
    display:flex;
    
}

.book-img {
    max-width: 400px;
    max-height: 400px;
    min-width: 200px;
    min-height: 200px;
    border-radius: 20px;
    margin-right: 5%; 
}

#book-title-summary {
    width: 50%;
}